*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
}
#header{
    height: 15%;
    width: 100%;
    background-color: rgb(236, 164, 164);
    position: fixed;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#TECHSPIRE{
    margin-left: 40px;
}
#LOGIN{
    margin-left: 40px;
}
#contact{
    margin-left: 40px;
}
#aboutus{
    margin-left: 40px;
}
#page1{
    height: 100%;
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    object-fit: fill;
    
}
#image{
    height: 100%;
    width: 100%;
    margin: 40px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: fill;
}
#tc{
    background-color: antiquewhite;
    margin-top: 100px;
}
#TECHSPIRE:hover{
    color: blue;
    cursor: pointer;
}
#LOGIN:hover{
    color: blue;
    cursor: pointer;
}
#contact:hover{
    color: blue;
    cursor: pointer;
}
#aboutus:hover{
    color: blue;
    cursor: pointer;
}
#logo{
    height: 80px;
    width: 80px;
}
#page2{
    height: 100%;
    width: 100%;
    justify-content: center;
    object-fit: fill;
    background-color: beige;
    margin: 50px;
}
#para{
    margin: 70px;
    font-size: 20px;
    color: darkcyan;
}
#Login{
    height: 30px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#form{
    margin-left: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#CONTACT{
    align-items: center;
    justify-content: center;

}
#para2{
    margin: 70px;
    font-size: 20px;
    color: darkcyan;
}
#img1{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#img2{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#img3{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#img4{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#flex{
    display: flex;
    justify-content: center;
}